.product-card {
  border: 1px solid var(--primary-color);
  border-radius: var(--border-rd-md);
  gap: var(--spacing-xxs);
  position: relative;
  height: fit-content;
}
.product-card:hover {
  cursor: pointer;
  box-shadow: 3px 5px 15px rgb(167, 165, 165);
  transition: 0.3s ease-in;
}
.product-card-body {
  padding: 0rem var(--spacing-xs) var(--spacing-xs) var(--spacing-xs);
  gap: var(--spacing-xxs);
}
.product-img-container img {
  border-top-left-radius: var(--border-rd-lg);
  border-top-right-radius: var(--border-rd-lg);
}

.wishlist {
  position: absolute;
  top: 0;
  right: 0.3rem;
  padding: var(--spacing-xxs);
  border-radius: var(--border-rd-sm);
  background-color: var(--white-color);
}

.wishlist i {
  color: var(--product-card-grey-color);
}
.price-line-through {
  text-decoration: line-through;
}
.product-price-container {
  gap: 0.4rem;
}
.product-card-actions {
  gap: 0.8rem;
  margin-top: var(--spacing-xs);
}
.btn-add-cart {
  gap: var(--spacing-xxs);
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: var(--border-rd-xs);
  font-size: 0.9rem;
}
.btn-add-cart i {
  font-size: var(--font-size-sm);
}
.btn-add-cart:hover {
  background-color: var(--secondary-color);
}
.quantity-box {
  border-radius: var(--border-rd-xs);
  border: 1px solid var(--product-card-grey-color);
}
.btn-increment,
.btn-decrement,
.btn-add-cart {
  padding: 0.3rem 0.4rem;
}
.btn-increment:hover,
.btn-decrement:hover {
  background-color: var(--product-card-grey-color);
}
.product-quantity {
  width: 2rem;
  text-align: center;
}
